body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #E1332D;
    font-family: 'roboto';
    font-size: 40px;
    font-weight: 300;
    border: 3px solid #E1332D;
    padding: 40px 80px;
    letter-spacing: -2px;
    position: relative;
    transition: all 0.5s;
}

a:hover {
    font-weight: 900;
    letter-spacing: 100px;
    border: 7px solid #E1332D;
}